.header
  グループを作成しました
.chat-side
  .side-header
    Koki
    =link_to "", class: "edit" do
      = fa_icon 'edit'
    %span<>
      =link_to "", class: "cog" do
        = fa_icon 'cog'


  .side-group
    = render partial: "group"

.chat-main
  .chat-title
    .title-name
      ii
    .user-name
      Member : Koki
    .edit-bottun
      Edit
  .chat-home
    = render partial: "chat_home"

  .chat-search
    = form_for @body do |f|
      = f.text_area :body, placeholder: "type a message", class: "write-message"
      %label.label
        = f.label :image, class: "imagea" do
          %i.fa.fa-image
          = f.file_field :image, class: "select-image"
      = f.submit "send", class: "send-bottun"

