.chat-side
  .side-header
    = current_user.name
    =link_to new_group_path do
      = fa_icon 'edit', class: "edit"
    = link_to edit_user_path(current_user) do
      = fa_icon 'cog', class: 'icon'

  .side-group
    = render partial: "group"

.chat-main
  .chat-title
    .title-name
      =@group.name
    .user-name
      Member : 
      = link_to current_user.name
    .edit-bottun
      = link_to edit_group_path(@group.id) do
        Edit

  .chat-home
    -@posts.each do |post|
      = render partial: "chat_home", locals: {post: post}

  .chat-search
    = form_for [@group, @post] do |f|
      = f.text_area :body, placeholder: "type a message", class: "write-message"
      %label.label
        = f.label :image, class: "imagea" do
          %i.fa.fa-image
          = f.file_field :image, class: "select-image"
      = f.submit "send", class: "send-bottun"
