.header
  グループを作成しました
.chat-side
  .side-header
    Koki
    %i.fa.fa-edit
    %span<>
    %i.fa.fa-cog
  .side-group
    .group-title
      ii
    .group-comment
      画像が投稿されています
  

.chat-main
  .chat-title
    .title-name
      ii
    .user-name
      Member : Koki
    .edit-bottun
      Edit
  .chat-home
    .chat-member
      Koki
    .chat-time
      2019/08/23(Fri) 11:45:16
    .chat-comment
      こんにちは

    .chat-member
      Koki
    .chat-time
      2019/08/23(Fri) 11:45:16
    .chat-comment
      こんにちは

    .chat-member
      Koki
    .chat-time
      2019/08/23(Fri) 11:45:16
    .chat-comment
      こんにちは

    .chat-member
      Koki
    .chat-time
      2019/08/23(Fri) 11:45:16
    .chat-comment
      こんにちは

    .chat-member
      Koki
    .chat-time
      2019/08/23(Fri) 11:45:16
    .chat-comment
      こんにちは

    .chat-member
      Koki
    .chat-time
      2019/08/23(Fri) 11:45:16
    .chat-comment
      こんにちは

  .chat-seach
    = form_for @body do |f|
      = f.text_area :body, placeholder: "type a message", class: "write-message"
      %label.label
        = f.label :image, class: "imagea" do
          %i.fa.fa-image
          = f.file_field :image, class: "select-image"
      = f.submit "send", class: "send-bottun"

